# Ignore cache files
**/__pycache__/**
*.py[cod]
output_npz_for_testing
!experiments/original_inputs/output_npz_for_testing
.pytest_cache/

vesuvio_analysis/core_functions/bootstrap_ws/
running_times.txt
figures/
experiments/

# pixi environment (created by `pixi install` at workspace setup time)
.pixi/